<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.cf.admin.dao.AdminUserDAO">
	<select id="list" resultType="kr.co.cf.admin.dto.AdminUserDTO">
		select u.userId,u.nickname,u.userName,u.userJoinDate,u.email,u.userIdx,p.photoName from user u,photo p
where p.photoId =u.userId;
	</select>
</mapper>
