<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.cf.court.dao.CourtDAO">
	<select id="searchCourt" resultType="kr.co.cf.court.dto.CourtDTO">
		select * from court where courtLatitude =#{param1} and #{param2}
	</select>
	
	<insert id="addCourt" >
		insert into court(locationIdx,courtName,courtTel,courtInOut,courtState,courtLatitude,courtLongitude,courtAddress)
				values('1',#{param1},'','out','사용가능',#{param2},#{param3},#{param4})
	</insert>
	
	<select id="list" resultType="kr.co.cf.court.dto.CourtDTO">
		SELECT c.courtIdx,c.courtName,c.courtInOut,c.courtState,c.courtAddress,c.courtLatitude,c.courtLongitude, l.gu FROM court c
				JOIN location l ON c.locationIdx = l.locationIdx
	</select>
	<select id="location" resultType="kr.co.cf.court.dto.CourtDTO">
		select courtLatitude,courtLongitude from court;
	</select>
	
	<select id="courtNameSearch" resultType="kr.co.cf.court.dto.CourtDTO">
		select courtName,courtLatitude,courtLongitude,courtIdx from court where courtName like '%'+#{param1}+'%'
	</select>
	
</mapper>