<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.cf.team.dao.TeamDAO">

	<select id="list" resultType="kr.co.cf.team.dto.TeamDTO">
		SELECT 
			t.teamIdx,t.teamMatchState,t.locationIdx,t.teamName,t.teamIntroduce,t.teamDisband,
			(SELECT COUNT(userId) FROM teamUser WHERE teamIdx = t.teamIdx) AS teamUser
		FROM team t ORDER BY teamIdx DESC
			LIMIT #{param1} OFFSET #{param2};
	</select>
	
	<select id="totalCount" resultType="int">
		SELECT COUNT(teamIdx) FROM team
	</select>
	
<!-- 
	<select id="checkMatchState" resultType="kr.co.cf.team.dto.TeamDTO">
		SELECT 
			t.teamIdx,t.teamMatchState,t.locationIdx,t.teamName,t.teamIntroduce,t.teamManner,t.teamDisband,
			(SELECT COUNT(userId) FROM teamUser WHERE teamIdx = t.teamIdx) AS teamUser,
			(select photoName from photo where photoId = t.teamIdx) as photoName 
		FROM team t WHERE t.teamMatchState = #{checkMatchState} ORDER BY teamIdx DESC
	</select>
 -->

	<select id="overlay" resultType="int">
		SELECT COUNT(teamName) FROM team WHERE teamName = #{param1}
	</select>
	
	<insert 
	useGeneratedKeys="true"
		keyColumn="teamIdx"
		keyProperty="teamIdx"
	id="teamRegist" parameterType="kr.co.cf.team.dto.TeamDTO">
		INSERT INTO team(teamName,teamFavTime,teamFavNum,teamIntroduce,teamMatchState,teamDisband,locationIdx,teamManner) 
			VALUES(#{teamName},#{teamFavTime},#{teamFavNum},#{teamIntroduce},#{teamMatchState},
			#{teamDisband},#{locationIdx},#{teamManner})
	</insert>
	
	<select id="locationFind" resultType="int">
		SELECT locationIdx FROM location WHERE gu = #{param1}
	</select>
	
	<insert id="photoWrite">
		INSERT INTO photo(categoryId,photoName,photoId) VALUES('t01',#{param1},#{param2})
	</insert>
	
	<select id="teamInfo"	resultType="kr.co.cf.team.dto.TeamDTO">
		SELECT 
			t.teamIdx,t.teamMatchState,t.locationIdx,t.teamName,t.teamIntroduce,t.teamManner,t.teamDisband,teamFavTime,
			(SELECT COUNT(userId) FROM teamUser WHERE teamIdx = t.teamIdx) AS teamUser,
			(select photoName from photo where photoId = t.teamIdx) as photoName 
		FROM team t WHERE t.teamIdx = #{param1} ORDER BY teamIdx DESC
	</select>
	
	<select id="tagReview" resultType="kr.co.cf.team.dto.TeamDTO">
		SELECT tagContent FROM tag WHERE tagIdx in (SELECT tagIdx FROM tagReview WHERE teamId = #{param1})
	</select>
	
	<select id="teamPageUpdate"	resultType="kr.co.cf.team.dto.TeamDTO">
		SELECT 
			t.teamIdx,t.teamMatchState,t.locationIdx,t.teamName,t.teamIntroduce,teamFavTime,teamFavNum,
			(select photoName from photo where photoId = t.teamIdx) as photoName 
		FROM team t WHERE t.teamIdx = #{param1}
	</select>
	
	
	
	
	
	
	
	
	
	

</mapper>