<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.cf.team.dao.TeamDAO">
	
	<select id="overlay" resultType="int">
		SELECT COUNT(teamName) FROM team WHERE teamName = #{param1}
	</select>
	
	<insert id="teamRegist" parameterType="kr.co.cf.team.dto.TeamDTO">
		INSERT INTO team(teamName,teamFavTime,teamFavNum,teamIntroduce,teamMatchState,teamDisband,locationIdx) 
			VALUES(#{teamName},#{teamFavTime},#{teamFavNum},#{teamIntroduce},#{teamMatchState},
			#{teamDisband},#{locationIdx})
	</insert>

</mapper>